:root {
    --text: #1c1917;
}
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    color: var(--text);
    background-color: #fafaf9;
}

header {
    background-color: #ffffff;
}

header .brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

header .brand img {
    height: 3rem;
}

header .brand h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px; 
}

header .brand p {
    margin-top: 2px;
    font-size: 0.8rem;
    color: #78716c;
}
header .cart-button {    
    border: 1px solid #e7e5e4;
    display: flex;
    width: 2.75rem;
    height: 2.75rem;
    align-items: center;
    justify-content: center ;
    border-radius: 0.75rem;
}

header .cart-button img {
    width: 1.25rem;
    height: 1.25rem;
}